.mainsection{
    background-color: antiquewhite;
}

.bg-dark{
    background-color: #000;
    color: #eee;
}

li{
    padding: 10px;
    margin: .5rem;
    background-color: #000;
    color: rgb(255, 234, 0);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    min-width: 100px;
    min-height: 100px;
    padding: 5rem;
    color: white;
    cursor: pointer;
}
.grandparent{
    background-color: lightblue;
}

.parent{
    background-color: lightcoral;
}

.child{
    background-color: lightslategray;
}